/*
Colors = c + name
*/
.cdanger{color:#F44336 !important}
.cwarning{color:#FFC107 !important}
.csuccess{color:#28a745 !important}
.cview{color:#007bff !important}
.cwhite{color:white}
.cheader{background: #435d7d;}

/*
 Button = btn + name
*/

.btnedit :hover{
    color:var(--cwarningr)
}

.btnview :hover{
    color:var(--cview)
}

.btndelete :hover{
    color:var(--cdanger)
}

/*
 Icon = i + name
*/

.isearch{
    margin: auto;
    padding-right: 0.1em;
}